body {
	margin:0;
	font-family:Helvetica,Arial,sans-serif;
	font-size:10pt;
}
#password-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#cccccc;
	opacity:.8;
}
#password-form {
	position:absolute;
	background:#ffffff;
	border-radius:20px;
	padding:20px;
}
#password-button, #comment-button {
	margin-top:10px;
	text-align:right;
}
#password-validation {
	color:#ff0000;
	display:none;
	margin-bottom:10px;
	text-align:center;
}
#liveblog-comment {
	overflow-y:auto;
	padding:20px
	border:1px solid #cccccc;
	border-radius:5px;
	margin:20px;
}
#liveblog-filtered-items, #liveblog-raw-items {
	overflow-y:auto;
	padding:0;
	border:1px solid #cccccc;
	border-radius:5px;
	margin:20px;
}
#liveblog-left h3 {
	margin:20px;
}
#liveblog-filtered-items, #liveblog-comment {
	margin-left:10px;
}
#liveblog-raw-items, #liveblog-left h3 {
	margin-right:10px;
}
#liveblog-left {
	float:left;
	width:50%;
}
#liveblog-right {
	float:right;
	width:50%;
}
.liveblog-item-container.alternate {
	background-color:#f5f5f5;
}
.liveblog-item-container {
	padding:0 25px;
}
.liveblog-item iframe {
	display:block;
}
.liveblog-username {
	color:#0000ff;
	text-decoration:underline;
	cursor:pointer;
}
.liveblog-item {
	padding:10px 0;
}
.liveblog-item-editor, .liveblog-item-plain {
	display:none;
	padding:10px 0;
}
.liveblog-item-buttons {
	border-top:1px solid #dddddd;
	margin-top:5px;
	padding-top:5px;
}
.liveblog-item-buttons table {
	width:100%;
	table-layout:fixed;
}
.liveblog-item-buttons table img {
	padding-right:10px;
	vertical-align:middle;
	height:16px;
}
.liveblog-item-buttons td {
	text-align:center;
}
.liveblog-approve-button, .liveblog-edit-button {
	cursor:pointer;
	display:inline-block;
}
td {
	vertical-align:top;
}